<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XMSuperDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6D46CA691DDE988C00BAF2F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D46CA821DDE988C00BAF2F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D46CA8D1DDE988C00BAF2F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
